body{
  margin: 0;
  padding: 0;
  .content{
    width: 480px;
    margin: 0 auto;
    @media screen and (min-width:1170px){
      width: 1100px; 
  } }
  a{
    text-decoration: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
  }
  li{
    list-style-type: none;
  }
  h2{
    color: #ffffff;
    font-family: Lato;
    font-size: 60px;
    font-weight: 300;   
    line-height: 58px;
    text-transform: uppercase;
  }
  h4{
    color: #ffffff;
    font-family: Lato;
    font-size: 30px;
    font-weight: 300;
    line-height: 58px;
    text-transform: uppercase;
  }
  h6{display: none;}
  p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@import "normalize/import-now";

@import 'utils/variables';

@import 'base/basic';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';
@import 'pages/services';
@import 'pages/about';
@import 'pages/work';
@import 'pages/contacts';