.about{
  background: url(../img/bg_about.png) ;
  background-size: cover;
}
.about .menu_1 a:hover{
  background-color: #91778e;
  transition: .5s ease;
}
.about .menu_2{
  background-color: #91778e;
}
  