.contacts{
  background: url(../img/bg_contacts.png) ;
  background-size: cover;
}
.contacts .menu_1 a:hover{
  background-color: #82c8bd;
  transition: .5s ease;
}
.contacts .menu_2{
  background-color: #82c8bd;
}