.services{
  background: url(../img/bg_services.png) ;
  background-size: cover;
}
.services .menu_1 a:hover{
  background: #df5c64;
  transition: .5s ease;
}
.services .menu_2{
  background: #df5c64;
}