.services{
  background: url(../img/bg_services.png) ;
  background-size: cover;
  text-align: center;
  color: #ffcccf;
  padding-bottom: 20px;
  .menu_1 a:hover{
    background: #df5c64;
    transition: .5s ease;
  }
  .menu_2{
    text-align: start;
    background: #df5c64;
  }
  @media screen and (min-width:1100px){
    padding-bottom: 125px;
  }
}
.services_our__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width:1100px){
    flex-direction: row;
    justify-content: space-between;
  }
  .services_our__block{
    padding-top: 49px;
    padding-bottom: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 400px;
    margin-top: 20px;
    background: #c8535a;
    opacity: 0.8;
    @media screen and (min-width:1100px){
      margin-top: 120px;
    }
    .circle{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: #fff;
      border: 5px solid #c8535a;
      box-shadow: 0 0 0 5px #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .services_our__block_text{
      p{
        width: 209px;
        color: #fefefe;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}