.work{
  background: url(../img/bg_work.png) ;
  background-size: cover;
  .menu_2{
    background-color: #a1ca6c;
  }
  .menu_1 a:hover{
    background-color: #a1ca6c;
    transition: .5s ease;
  }
}
